<div style="width: 450px;" class=" shadow-md h-72 p-3 rounded-lg bg-white ">

    <h4 class=" font-extrabold text-light-green">Most Used Ingredients</h4>

    <nz-spin *ngIf="!hasDataReached" class="text-center  " [nzSpinning]="!hasDataReached" nzSimple
        [nzSize]="'small'"></nz-spin>

    <div *ngIf="hasDataReached" class="">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"></apx-chart>
    </div>



</div>