<div
  class="h-8 border bg-black font-bold text-sm flex justify-between items-center px-8"
>
  <div></div>

  <h2 class="text-white">Welcome to Bento!</h2>

  <div class="flex items-center gap-x-3 cursor-pointer">
    <span
      class="text-white font-extrabold text-[1rem]"
      nz-icon
      nzType="login"
      nzTheme="outline"
    ></span>
    <p class="text-white hover:text-light-green">Log in</p>
  </div>
</div>

<div
  class="flex justify-between items-center border border-light-gray border-l-0 border-r-0 px-4 py-3"
>
  <div>
    <img
      class="w-28 cursor-pointer"
      src="../../assets/photos and logos/logo-2.png"
      alt=""
    />
  </div>

  <app-get-started-btn
    [bgColor]="'bg-green'"
    [hoverBgColor]="'bg-dark-green'"
  ></app-get-started-btn>
</div>
