<section class="mt-2 flex justify-between items-center">
  <div>
    <img
      class="w-28 cursor-pointer"
      src="../../assets/photos and logos/logo-2.png"
      alt=""
    />
  </div>

  <div class="flex items-center gap-4">
    <button
      class="border bg-green text-white px-6 py-2 text-lg font-bold rounded-3xl hover:bg-dark-green"
    >
      Subscribe Now
    </button>

    <span
      class="text-3xl hover:text-gray cursor-pointer border border-gray rounded px-2"
      nz-icon
      nzType="user"
      nzTheme="outline"
    ></span>
  </div>
</section>
