<div class="flex">

  <ul class="w-48 " nz-menu nzMode="inline">

    <li nz-menu-item routerLink="accessible-silos">Accessible Silos</li>

    <li nz-menu-item routerLink="control-panel"> Control Panel</li>

    <li nz-menu-item routerLink="inventory" nz-menu-item>Inventory</li>

    <li nz-menu-item routerLink="menu" nz-menu-item>Menu</li>

    <li nz-menu-item routerLink="hr" nz-menu-item>Employees</li>

    <li nz-menu-item routerLink="orders" nz-menu-item>Orders</li>

  </ul>

  <div class="grow">
    <router-outlet></router-outlet>
  </div>

</div>