<div class="flex">

  <ul class="w-48" nz-menu nzMode="inline">

    <li nz-menu-item routerLink="accessible-silos" nzSelected="">Accessible Silos</li>

    <ul class="font-semibold" nz-submenu nzTitle="Inventory" nzIcon="" nzOpen>
      <li class="font-normal" routerLink="inventory" nz-menu-item>Inventory</li>
    </ul>

    <ul class="font-semibold" nz-submenu nzTitle="Menu" nzIcon="" nzOpen>
      <li class="font-normal" routerLink="current-menu" nz-menu-item>Current Menu</li>
    </ul>

    <ul class="font-semibold" nz-submenu nzTitle="Human Resource" nzIcon="" nzOpen>
      <li class="font-normal" routerLink="employees" nz-menu-item>Employees</li>
    </ul>

  </ul>

  <div class="grow">
    <router-outlet></router-outlet>
  </div>

</div>