<div class="border border-white rounded-2xl mx-auto w-81  p-1" onmouseenter="this.style.border = '2px solid black' "
  onmouseleave="this.style.border = '2px solid white'">

  <!-- // Top Colorful part -->
  <div [style.backgroundColor]="bgColor" class="h-16 flex items-center justify-between px-3 rounded-t-xl">
    <p class="text-[1rem] font-bold">{{info?.serviceName}}</p>
    <!-- <span class="text-lg" nz-icon nzType="arrow-right" nzTheme="outline"></span> -->
  </div>

  <!-- Image -->
  <div class="">
    <img style="object-fit: cover;" class=" w-full h-64" [src]="this.info?.serviceImage" alt="" />
  </div>

  <!-- Description -->
  <div style="height: 180px" class="bg-black text-white rounded-b-xl px-5">
    <h4 class="text-white text-sm py-5 font-bold">
      {{info?.serviceTagLine}}
    </h4>
    <p class="text-sm {{ hovered && 'bg-white text-black' }}">
      {{info?.serviceDescription}}
    </p>
  </div>
</div>