<section class="wp-50 mx-auto mt-8 px-5 py-10">
  <nz-steps [nzCurrent]="currentStep">
    <nz-step nzTitle="About You"></nz-step>
    <nz-step nzTitle="About Your Restaurant"></nz-step>
  </nz-steps>

  <div class="mt-16">
    <div *ngIf="currentStep === 0">
      <!-- Step 1 Content -->
      <h2 class="mb-10 font-bold text-green text-center">
        Tell Us About Yourself
      </h2>
      <!-- Form for Step 1 -->
      <form
        [formGroup]="stepsForm[currentStep]"
        class="grid grid-cols-2 gap-y-4"
      >
        <div class="flex flex-col mx-auto">
          <label class="font-bold">First Name *</label>
          <input
            required
            nz-input
            type="text"
            formControlName="firstName"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Last Name *</label>
          <input
            nz-input
            type="text"
            formControlName="lastName"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Email *</label>
          <input
            nz-input
            type="email"
            formControlName="email"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Phone *</label>
          <input
            nz-input
            type="number"
            formControlName="phone"
            class="w-64 h-8 rounded-lg"
          />
        </div>
      </form>

      <div class="flex justify-end mt-16 mr-12">
        <button
          class="border border-green text-green"
          nz-button
          [disabled]="isNextButtonDisabled"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="currentStep === 1">
      <!-- Step 2 Content -->
      <h2 class="mb-10 font-bold text-green text-center">
        Tell Us About Your Restaurant
      </h2>
      <!-- Form for Step 2 -->
      <form
        [formGroup]="stepsForm[currentStep]"
        class="grid grid-cols-2 gap-y-8"
      >
        <div class="flex flex-col mx-auto">
          <label class="font-bold">Restaurant Name *</label>
          <input
            required
            nz-input
            type="text"
            formControlName="restaurantName"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Location *</label>
          <input
            nz-input
            type="text"
            formControlName="location"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Country *</label>
          <nz-select
            class="w-64 h-8 rounded-lg"
            nzShowSearch
            nzAllowClear
            formControlName="country"
            nzPlaceHolder="Search Country"
          >
            <nz-option
              *ngFor="let country of this.countries"
              [nzLabel]="country.name"
              [nzValue]="country.name"
            ></nz-option>
          </nz-select>
        </div>

        <div class="flex flex-col mx-auto">
          <label class="font-bold">Monthly Orders *</label>
          <input
            nz-input
            type="number"
            formControlName="monthlyOrders"
            class="w-64 h-8 rounded-lg"
          />
        </div>

        <div class="flex flex-col mx-auto w-64">
          <label class="font-bold">Operating Time *</label>
          <div class="flex justify-center items-center gap-x-5 mt-4">
            <nz-time-picker
              formControlName="openingTime"
              [nzUse12Hours]="true"
              nzFormat="h a"
            ></nz-time-picker>
            <span class="font-bold">To</span>
            <nz-time-picker
              formControlName="closingTime"
              [nzUse12Hours]="true"
              nzFormat="h a"
            ></nz-time-picker>
          </div>
        </div>

        <div></div>

        <div
          class="flex mx-auto mt-5 w-64 items-center justify-start gap-x-7 border border-light-gray h-8 rounded-xl pl-2 py-2"
        >
          <span class="font-bold">Enable Delivery</span>
          <nz-switch nzSize="small" formControlName="delivery"></nz-switch>
        </div>
        <div
          class="flex mx-auto mt-5 w-64 items-center justify-start gap-x-7 border border-light-gray h-8 rounded-xl pl-2 py-2"
        >
          <span class="font-bold">Enable Pickup</span>
          <nz-switch nzSize="small" formControlName="pickup"></nz-switch>
        </div>
      </form>

      <div class="flex justify-between mt-20">
        <button class="border text-green" nz-button (click)="prevStep()">
          Previous
        </button>
        <button
          [disabled]="isNextButtonDisabled"
          class="border border-green text-green"
          nz-button
          (click)="submitForm()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</section>
