<div>
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Writings -->
  <div class="mx-auto uppercase text-center flex flex-col gap-y-7 mt-16">
    <h3 class="text-green text-lg font-bold">
      HELPING THE FOOD SERVICE COMMUNITY THRIVE
    </h3>

    <h1 class="text-6xl font-GTPressura">
      THE COMPLETE SOLUTION FOR DIGITAL Restaurant Management
    </h1>

    <p class="text-gray-dark">
      One platform to manage operations and drive revenue
    </p>
  </div>

  <!-- Silo Cards -->
  <br />
  <br />
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-4/5 mx-auto gap-x-2 gap-y-8"
  >
    <app-service-card [bgColor]="'bg-light-green'"></app-service-card>
    <app-service-card [bgColor]="'bg-[#ffb6ca]'"></app-service-card>
    <app-service-card [bgColor]="'bg-[#ffb905]'"></app-service-card>
    <app-service-card [bgColor]="'bg-[#ff5f3b]'"></app-service-card>
    <app-service-card [bgColor]="'bg-[#b6b6ff]'"></app-service-card>
    <app-service-card [bgColor]="'bg-[#e0ffb6]'"></app-service-card>
  </div>

  <div>hey</div>
</div>
