<div style="width: 500px; min-height: 18rem ;" class=" shadow-md  p-3 rounded-lg bg-white ">

    <div class="flex justify-between mb-2">
        <h4 class="mb-2 font-extrabold text-light-green">Items Sold in Number of Orders </h4>



        <nz-select [(ngModel)]="selectedChart" class="w-32">
            <nz-option nzValue="POS" nzLabel="POS"></nz-option>
            <nz-option nzValue="MARKETPLACE" nzLabel="MARKETPLACE"></nz-option>
            <nz-option nzValue="COMBINED" nzLabel="COMBINED"></nz-option>
        </nz-select>

    </div>

    <nz-spin class="text-center " [nzSpinning]="!hasDataReached" nzSimple [nzSize]="'small'"></nz-spin>

    <!-- POS -->
    <div *ngIf="hasDataReached&& posMostSoldItemsData && selectedChart=== 'POS'" class="">
        <apx-chart [series]="posChartOptions.series" [chart]="posChartOptions.chart"
            [dataLabels]="posChartOptions.dataLabels" [plotOptions]="posChartOptions.plotOptions"
            [xaxis]="posChartOptions.xaxis"></apx-chart>
    </div>

    <!-- Marketplace -->

    <div *ngIf="hasDataReached &&  marketplaceMostSoldItemsData && selectedChart=== 'MARKETPLACE'" class="">
        <apx-chart [series]="marketplaceChartOptions.series" [chart]="marketplaceChartOptions.chart"
            [dataLabels]="marketplaceChartOptions.dataLabels" [plotOptions]="marketplaceChartOptions.plotOptions"
            [xaxis]="marketplaceChartOptions.xaxis"></apx-chart>
    </div>


    <!-- Combined -->
    <div *ngIf="hasDataReached && combinedMostSoldItemsData && selectedChart=== 'COMBINED'" class="">
        <apx-chart [series]="combinedChartOptions.series" [chart]="combinedChartOptions.chart"
            [dataLabels]="combinedChartOptions.dataLabels" [plotOptions]="combinedChartOptions.plotOptions"
            [xaxis]="combinedChartOptions.xaxis"></apx-chart>
    </div>

</div>