<div>
  <!-- Navbar -->
  <app-navbar [isAuth]="false"></app-navbar>

  <!-- Writings -->
  <div class="mx-auto text-uppercase text-center flex flex-col gap-y-7 mt-16">
    <h3 class="text-green text-lg font-bold">
      HELPING THE FOOD SERVICE COMMUNITY THRIVE
    </h3>

    <h1 class="text-6xl font-gt-pressura">
      THE COMPLETE SOLUTION FOR DIGITAL Restaurant Management
    </h1>

    <p class="text-dark-gray text-xs">
      One platform to manage operations and drive revenue
    </p>
  </div>

  <div class="flex justify-center my-10">
    <app-get-started-btn></app-get-started-btn>
  </div>

  <!-- Silo Cards -->
  <br />
  <br />

  <h2 class="font-semibold ml-32 mb-8">FEATURES TO HELP YOU THRIVE</h2>

  <div class="grid grid-cols-3 gap-y-10 wp-90 mx-auto">
    <app-service-card [bgColor]="'#05CC79'"></app-service-card>
    <app-service-card [bgColor]="'#ffb6ca'"></app-service-card>
    <app-service-card [bgColor]="'#ffb905'"></app-service-card>
    <app-service-card [bgColor]="'#ff5f3b'"></app-service-card>
    <app-service-card [bgColor]="'#b6b6ff'"></app-service-card>
    <app-service-card [bgColor]="'#e0ffb6'"></app-service-card>
  </div>
</div>

<br />
<br />
<br />
<br />
