<div style="min-height: 20rem ;" class=" shadow-md w-full   p-3 rounded-lg bg-white ">

    <h4 class="mb-4 font-extrabold text-light-green">Control Menu Item Availability in POS & Marketplace </h4>

    <nz-spin class="text-center " [nzSpinning]="!hasDataReached" nzSimple [nzSize]="'small'"></nz-spin>


    <nz-table *ngIf="hasDataReached" class="mx-auto" #headerTable [nzData]="listOfDisplayData" [nzSize]="'small'"
        [nzPageSize]="10">

        <thead>

            <tr style="font-size: 12px; ">
                <th> </th>

                <th>Id</th>

                <th nzCustomFilter class="text-red">Item Name

                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                        [nzDropdownMenu]="menu">
                        <span class="font-bolder text-green" nz-icon nzType="search"></span>
                    </nz-filter-trigger>

                </th>

                <th> Price</th>

                <th> POS</th>

                <th>Marketplace</th>

            </tr>

        </thead>

        <tbody>
            <tr style="font-size: 12px; " *ngFor="let data of headerTable.data; let i = index">

                <td>
                    <nz-avatar nzIcon="user" [nzSrc]="data.item.itemImage"></nz-avatar>
                </td>

                <td class="text-gray">{{data.item.itemId}}</td>

                <td>{{ data.item.itemName}}</td>

                <td><span class="px-1 bg-light-green text-white font-bold rounded-xl">{{ data.item.itemPrice + "
                        £"}}</span> </td>



                <td>
                    <nz-switch nzSize="small" [nzControl]="true" [(ngModel)]="data.item.availableInPos"
                        (click)="showModal(i , 'pos')"></nz-switch>
                </td>
                <td> <nz-switch nzSize="small" [nzControl]="true" [(ngModel)]="data.item.availableInMarketPlace"
                        (click)="showModal(i , 'marketplace')"></nz-switch></td>


            </tr>
        </tbody>

    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown w-40  absolute  top-0 px-2 py-2 ">

            <input class="h-6" type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />

            <div class="mt-2 flex gap-x-4">
                <button nz-button nzSize="small" nzType="primary" (click)="search()"
                    class="search-button">Search</button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>

        </div>
    </nz-dropdown-menu>


    <nz-modal [(nzVisible)]="isModalVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <p>Sure To Proceed ? </p>
        </ng-container>
    </nz-modal>

</div>