<div class="bg-background-off-white px-5 h-screen  pt-2">

    <div class="flex justify-end mt-2 mb-4">
        <button (click)="navigateToInventory()" class="bg-black border-0 " nz-button nzType="primary">Go To
            Inventory
            <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
        </button>
    </div>


    <div class="flex justify-between">
        <app-most-used-ingred></app-most-used-ingred>

        <app-most-wasted-ingred></app-most-wasted-ingred>

        <app-current-vendor-orders></app-current-vendor-orders>

    </div>

    <br> <br>

    <app-current-inventory></app-current-inventory>


</div>